{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Change password</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum.</p>
    </div>
</div>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-success col-md-2" type="submit">Confirm</button>
    </form>
</div>
{% endblock %}