{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
<fieldset class="module">
    <h2>UPLOAD MULTIPLE PHOTOS AT ONCE</h2>
    <input name="multiple_photo_upload" type="file" accept=".png,.jpg" multiple />
</fieldset>
{% endblock %}