{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">The team</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum.</p>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'img/about/employee_1.png' %}" alt="Employee 1" width="140"
                height="140">
            <h2>Lorem ipsum</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                cursus magna.</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'img/about/employee_2.jpg' %}" alt="Employee 2" width="140"
                height="140">
            <h2>Lorem ipsum</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh.</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'img/about/employee_3.jpg' %}" alt="Employee 3" width="140"
                height="140">
            <h2>Lorem ipsum</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
        </div>
    </div>
</div>
{% endblock content %}