{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Account deletion</h1>
    </div>
</div>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete your account "{{ user.email }}"?</p>
        <input class="btn btn-outline-danger" type="submit" value="Yes, delete my account" />
    </form>
</div>
{% endblock %}