{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
<div class="alert alert-success text-center" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Account settings</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum.</p>
    </div>
</div>
<div class="container">
    <h3 class="display-6">Change account information</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-success mb-3 col-md-2" value="Save" />
    </form>
    <hr class="mb-3">
    <h3 class="display-6">Change password</h3>
    <a href="{% url 'password_change' user.id %}" class="btn btn-outline-info mb-3 mt-2 col-md-2">Change password</a>
    <hr>
    <h3 class="display-6">Delete account</h3>
    <a href="{% url 'account_delete' user.id %}" class="btn btn-outline-danger mt-2 col-md-2">Delete account</a>
</div>
{% endblock %}