{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">{{ album.title }} photos</h1>
        <p class="lead text-muted">{{ album.description }}</p>
    </div>
</div>
{% if photo_list %}
    <div class="container mb-4">
        <input type="checkbox" class="custom-control-input mr-2" id="select-all">
        <label class="custom-control-label" for="select-all"><a class="btn btn-light">Select all</a></label>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for photo in photo_list %}
                    <div class="col-md-4">
                        <a href="{{ photo.image.url }}" data-lightbox="gallery"><img src="{{ photo.image.url }}" alt="{{ photo.photo_name }}" class=" rounded img-fluid mt-2 mb-2"/></a>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="chbox" data-url="{{ photo.image.url }}" class="custom-control-input" id="photo_{{ forloop.counter }}">
                            <label class="custom-control-label" for="photo_{{ forloop.counter }}">{{ photo.photo_name }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <a class="btn btn-light" href="javascript:downloadImages()">Download selection</a>
    </div>
{% else %}
    <div class="container">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Ups!</h4>
            <p>Currently there are no photos available.</p>
            <hr>
            <p class="mb-0">If you have any questions, please feel free to contact us.</p>
        </div>
    </div>
{% endif %}
{% endblock content %}
