{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Photo albums of {{ view.kwargs.username }}</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum.</p>
    </div>
</div>
{% if object_list %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for album in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top img-fluid" src="{{ album.album_cover.url }}" alt="{{ album.title }}" />
                    <div class="card-body">
                        <h4 class="card-title">{{ album.title }}</h4>
                        <p class="card-text">{{ album.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-secondary" href="{% url 'album_detail' album.pk %}">View</a>
                            </div>
                            <small class="text-muted">{{ album.date_created }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Ups!</h4>
        <p>Currently there are no albums available.</p>
        <hr>
        <p class="mb-0">If you have any questions, please feel free to contact us.</p>
    </div>
</div>
{% endif %}
{% endblock content %}