{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/corp/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox/lightbox.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% if title %}
    <title>Photo Web-App - {{ title }}</title>
    {% else %}
    <title>Photo Web-App</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/corp/logo.png' %}" width="30"
                height="30" class="d-inline-block align-top" alt="Logo">Photo Web-App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'albums' user.username %}">Albums</a>
                        <a class="dropdown-item" href="{% url 'account_settings' user.id %}">Settings</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                    </div>
                </li>
                {% endif %}
            </ul>

        </div>
        <div>
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-outline-dark" disabled>Welcome, {{ user.username }}</button>
            {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">Sign in</a>
            <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
        <div class="row">
            <div class="col-sm">
                <h5>Contact us</h5>
                <ul class="list-unstyled text-small">
                    <li class="text-muted">Photo Web-App</li>
                    <li class="text-muted">Ipsum dolor sit 00</li>
                    <li class="text-muted">0000 Consetetur</li>
                    <li class="text-muted">sadipscing.eirmod@labore.ea</li>
                    <li class="text-muted">+00 00 000 00 00</li>
                </ul>
                <p class="text-muted">Semesterarbeit im Modul Web Engineering FS2019 an der Fernfachhochschule Schweiz
                    von Kevin Rossi und Stefan Gerber. &copy; Bootstrap </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'lightbox/lightbox-plus-jquery.min.js' %}"></script>
    <script>
        $('#select-all').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
    </script>
    <script type="text/javascript" src="{% static 'js/jszip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip-utils.js' %}"></script>
    <script type="text/javascript">
        function downloadImages() {
            var Promise = window.Promise;
            if (!Promise) {
                Promise = JSZip.external.Promise;
            }

            var zip = new JSZip();
            var checkboxes = document.getElementsByName("chbox");
            var checkedCheckboxes = 0;

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checkedCheckboxes++;
                }
            }

            if (checkedCheckboxes != 0) {
                if (typeof checkboxes !== 'undefined' && checkboxes.length > 0) {
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            var url = checkboxes[i].dataset.url;
                            var filename = url.replace(/.*\//g, "");
                            zip.file(filename, urlToPromise(url), {binary: true});
                        }
                    }
                    // Generate the zip file asynchronously
                    zip.generateAsync({type:"blob"})
                    .then(function(content) {
                        // Force down of the Zip file
                        saveAs(content, "download.zip");
                    });
                }
            }
            else {
                window.alert("Please tick at least one checkbox to download the pictures.");
            }

            /**
             * Fetch the content and return the associated promise.
             * @param {String} url the url of the content to fetch.
             * @return {Promise} the promise containing the data.
             */
            function urlToPromise(url) {
                return new Promise(function(resolve, reject) {
                    JSZipUtils.getBinaryContent(url, function (err, data) {
                        if(err) {
                            reject(err);
                        } else {
                            resolve(data);
                        }
                    });
                });
            }
        }
    </script>
</body>

</html>