{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Services</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum.</p>
    </div>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Dolores</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">CHF 100 <small class="text-muted">/ sho</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sed diam nonumy eirmod</li>
                    <li>Ut labore et dolore magna</li>
                    <li>Sed diam voluptua</li>
                    <li>At vero eos et accusam</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Consetetur</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">CHF 200 <small class="text-muted">/ sho</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sed diam nonumy eirmod</li>
                    <li>Ut labore et dolore magna</li>
                    <li>Sed diam voluptua</li>
                    <li>At vero eos et accusam</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Invidunt</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">CHF 300 <small class="text-muted">/ sho</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sed diam nonumy eirmod</li>
                    <li>Ut labore et dolore magna</li>
                    <li>Sed diam voluptua</li>
                    <li>At vero eos et accusam</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}